@media (min-width: 1400px) {
  .header__inner {
    padding-left: 90px;
    padding-right: 98px;
  }
  .header__main-img {
    right: 5%;
  }
}
@media (max-width: 1366px) {
  .leyla__inner {
    background-size: 592px auto;
  }
  .leyla__wrapper {
    margin-bottom: 50px;
  }
  .contacts__info {
    max-width: 600px;
    padding-top: 65px;
    padding-left: 7%;
    padding-bottom: 65px;
}
}
@media (max-width: 1250px) {
  .menu__link {
    font-size: 16px;
    line-height: 22px;
  }
  .menu__item:not(:last-child) {
    margin-right: 40px;
  }
  .header__title {
    font-size: 70px;
    line-height: 79px;
  }
  .header__text {
    font-size: 22px;
    line-height: 31px;
    max-width: 758px;
  }
  .header__main-img {
    max-width: 500px;
  }
  .how__item {
    padding-top: 45px;
    padding-left: 15px;
    width: 500px;
  }
  .how__item:nth-child(even) {
    padding-right: 15px;
  }
  .how__item:first-child {
    padding-right: 15px;
  }
  .how__item:nth-child(3) {
    padding-right: 15px;
  }
  .how__item:nth-child(5) {
    padding-right: 15px;
  }
  .leyla__inner {
    background-size: 520px auto;
  }
  .leyla__item {
    max-width: 600px;
  }
  .premium__inner {
    justify-content: space-between;
    padding-left: 15px;
  }
  .premium__img img {
    max-width: 100%;
    height: auto;
  }
  .premium__text {
    padding-top: 100px;
  }
}
@media (max-width: 1200px) {
  .consultation {
    padding-top: 64px;
    padding-bottom: 142px;
  }
  .consultation__form {
    padding: 36px 62px;
  }
  .form__checkbox label {
    font-size: 18px;
    line-height: 25px;
  }
  .form__info input {
    padding: 14px 0 14px 32px;
    width: 280px;
    font-size: 16px;
    line-height: 28px;
  }
  .form__info button {
    padding: 14px 50px;
    width: 280px;
    font-size: 16px;
    line-height: 28px;
  }
  .how {
    padding-bottom: 100px;
  }
  .consultationform__inner {
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
  }
  .consultationform__info {
    margin: 0 0 30px 0;
  }
  .consultationform__title {
    font-size: 40px;
    line-height: 53px;
    max-width: 510px;
    text-align: center;
}
.consultationform__text {
    font-size: 16px;
    line-height: 26px;
    max-width: 510px;
    margin-bottom: 40px;
}
}
@media (max-width: 1140px) {
  .header__title {
    font-size: 60px;
    line-height: 69px;
    max-width: 680px;
  }
  .header__text {
    font-size: 20px;
    line-height: 28px;
    max-width: 680px;
    margin-bottom: 106px;
  }
  .header__main-img {
    max-width: 450px;
    height: 698px;
  }
  .about__text {
    font-size: 18px;
    line-height: 25px;
  }
  .about__text p {
    margin-bottom: 15px;
  }
  .leyla__inner {
    background-size: 450px auto;
  }
  .procedures__items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 70px;
}
}
@media (max-width: 1065px) {
  .menu__btn {
    display: inline-block;
    width: 40px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
    position: absolute;
    right: 47%;
    top: 65px;
    cursor: pointer;
  }
  .menu__btn::after,
  .menu__btn::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #c08e71;
  }
  .menu__btn::before {
    top: 0;
  }
  .menu__btn::after {
    bottom: 0;
  }
  .menu__btn span {
    display: block;
    height: 2px;
    background-color: #c08e71;
  }
  .menu__list {
    transform: translateY(-200%);
    display: block;
    background-color: #f3edea;
    padding: 10px 0;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 0.3s;
  }
  .menu__list.menu__list--active {
    transform: translateY(30%);
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
  .menu__link {
    padding: 10px;
    display: block;
    text-align: center;
  }
  .header__top {
    margin-bottom: 38px;
  }
  .header__text {
    margin-bottom: 56px;
  }
  .logo {
    margin-right: 25%;
  }
  .header__main-img {
    max-width: 300px;
    height: 598px;
  }
  .premium__inner {
    padding-bottom: 50px;
  }
  .premium__text {
    max-width: 700px;
  }
  .contacts__info {
    max-width: 500px;
    padding-top: 55px;
    padding-left: 4%;
    padding-bottom: 55px;
}
.contacts__inner {
  background-position: center;
}
}
@media (max-width: 1000px) {
  .form__checkbox {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
  }
  .form__info {
    flex-direction: column;
    align-items: center;
  }
  .form__info input {
    margin-bottom: 15px;
  }
  .about__inner {
    padding-bottom: 0;
  }
  .mission__text {
    font-size: 26px;
    line-height: 43px;
  }
  .how {
    padding-bottom: 50px;
  }
  .how__items {
    justify-content: center;
  }
  .leyla__inner {
    background-position: center top;
    background-size: 350px;
  }
  .leyla__info {
    padding: 70% 10% 0 10%;
  }
  .leyla__button-next.swiper-button-next {
    display: block;
  }
  .leyla__item {
    max-width: 100%;
  }
  .leyla__certificates.swiper {
    padding-left: 0;
  }
  .premium__text {
    font-size: 40px;
    line-height: 58px;
  }
  .ontv__swiper-slide.swiper-slide {
    padding-top: 0;
  }
  .ontv__swiper-slide.swiper-slide-active {
    transform: scale(1);
  }
  .responces {
    padding-bottom: 100px;
}
}
@media (max-width: 900px) {
  .header__info {
    font-size: 16px;
    line-height: 22px;
  }
  .header__title {
    font-size: 46px;
    line-height: 55px;
    max-width: 520px;
    margin-bottom: 30px;
  }
  .header__text {
    font-size: 16px;
    line-height: 22px;
    max-width: 520px;
  }
  .header__main-img {
    height: 498px;
  }
  .premium__text {
    font-size: 30px;
    line-height: 48px;
  }
}
@media (max-width: 768px) {
  .consultation__text {
    font-size: 22px;
    line-height: 31px;
    width: 80%;
    margin: 0 auto 50px;
  }
  .consultation__form {
    padding: 30px 30px;
  }
  .consultation {
    padding-bottom: 100px;
  }
  .consultation__title {
    font-size: 40px;
    line-height: 49px;
  }
  .about__title {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 25px;
    max-width: 315px;
  }
  .about__info {
    padding-top: 30px;
  }
  .about__band {
    margin-bottom: 20px;
    margin-left: 13%;
  }
  .about__text {
    font-size: 16px;
    line-height: 25px;
    margin-left: 13%;
    max-width: 354px;
    padding-bottom: 45px;
  }
  .mission__text {
    font-size: 20px;
    line-height: 37px;
    padding: 54px 0;
  }
  .how {
    padding-top: 55px;
    padding-bottom: 75px;
  }
  .how__title {
    font-size: 30px;
    line-height: 43px;
    margin-bottom: 35px;
  }
  .premium__inner {
    flex-direction: row-reverse;
    padding-left: 0;
  }
  .premium__text {
    font-size: 20px;
    line-height: 38px;
    max-width: 100%;
  }
  .ontv__title {
    font-size: 40px;
    line-height: 49px;
  }
  .ontv__subtitle {
    margin-bottom: 50px;
  }
  .ontv__swiper-slide.swiper-slide-active {
    text-align: center;
  }
  .procedures__subtitle {
    margin-bottom: 50px;
}
  .procedures__items {
    grid-gap: 30px;
}
.procedures__item {
    padding-top: 185px;
    width: 350px;
    height: 350px;
}
.procedures__item:nth-child(8) {
    padding-top: 185px;
}
.procedures__item:nth-child(8) .procedures__item-title {
  margin-bottom: 70px;
}
.procedures__item:nth-child(9),
.procedures__item:nth-child(10),
.procedures__item:nth-child(11),
.procedures__item:nth-child(12) {
    background-image: url(../images/card9.svg);
    padding-top: 185px;
}
.procedures__item:nth-child(9) .procedures__item-title,
.procedures__item:nth-child(10) .procedures__item-title,
.procedures__item:nth-child(11) .procedures__item-title,
.procedures__item:nth-child(12) .procedures__item-title {
  margin-bottom: 70px;
}
.responces__button-prev.swiper-button-prev {
  left: 30%;
}
.responces__button-next.swiper-button-next {
  right: 30%;
}
.responces__title {
    margin-bottom: 30px;
}
.responces {
    padding-bottom: 50px;
}
}
@media (max-width: 750px) {
  .header__main-img {
    display: none;
  }
  .header__top {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .menu__btn {
    right: 0;
  }
  .leyla__inner {
    background-size: 284px 474px;
  }
  .leyla__wrapper {
    margin-bottom: 0;
  }
  .leyla__certificate-img img {
    max-width: 228px;
  }
  .ontv__title {
    font-size: 30px;
    line-height: 39px;
  }
  .ontv__subtitle {
    font-size: 20px;
    line-height: 28px;
  }
  .ontv__text {
    font-size: 20px;
    line-height: 28px;
  }
  .ontv__swiper-button-prev.swiper-button-prev {
    left: 0%;
  }
  .ontv__swiper-button-next.swiper-button-next {
    right: 0%;
  }
  .procedures__items {
    grid-gap: 23px;
  }
  .procedures__item {
    padding-top: 160px;
    width: 320px;
    height: 320px;
  }
  .faq {
    padding: 100px 0 50px 0;
}
.faq__title {
    margin-bottom: 50px;;
}
  #accordion > h3 {
    font-size: 20px;
    line-height: 19px;
    padding-top: 30px;
}
#accordion > div {
    margin-bottom: 30px;
}
}
@media (max-width: 700px) {
  .procedures {
    padding-top: 100px;
}
  .procedures__title {
    font-size: 28px;
    line-height: 33px;
  }
  .procedures__subtitle {
    font-size: 14px;
    line-height: 19px;
  }
  .procedures__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .procedures__item {
    width: 100%;
    height: 120px;
    padding-top: 32px;
    padding-left: 40%;
  }
  .procedures__item:first-child {
  background-image: url("../images/card1_small.svg");
  background-position: left 15% top 50%;
  }
  .procedures__item:nth-child(2) {
  background-image: url("../images/card2_small.svg");
  background-position: left 15% top 50%;
  }
  .procedures__item:nth-child(3) {
  background-image: url("../images/card3_small.svg");
  background-position: left 15% top 50%;
  }
  .procedures__item:nth-child(4) {
  background-image: url("../images/card4_small.svg");
  background-position: left 15% top 50%;
  }
  .procedures__item:nth-child(5) {
  background-image: url("../images/card5_small.svg");
  background-position: left 15% top 50%;
  display: none;
  }
  .procedures__item:nth-child(6) {
  background-image: url("../images/card6_small.svg");
  background-position: left 15% top 50%;
  display: none;
  }
  .procedures__item:nth-child(7) {
  background-image: url("../images/card7_small.svg");
  background-position: left 15% top 50%;
  display: none;
  }
  .procedures__item:nth-child(8) {
  background-image: url("../images/card8_small.svg");
  background-position: left 15% top 50%;
  padding-top: 32px;
  display: none;
  }
  .procedures__item:nth-child(9) {
  background-image: url("../images/card9_small.svg");
  background-position: left 15% top 50%;
  padding-top: 32px;
  display: none;
  }
  .procedures__item:nth-child(10) {
  background-image: url("../images/card10_small.svg");
  background-position: left 15% top 50%;
  padding-top: 32px;
  display: none;
  }
  .procedures__item:nth-child(11) {
  background-image: url("../images/card11_small.svg");
  background-position: left 15% top 50%;
  padding-top: 32px;
  display: none;
  }
  .procedures__item:nth-child(12) {
  background-image: url("../images/card12_small.svg");
  background-position: left 15% top 50%;
  padding-top: 32px;
  display: none;
  }
  .procedures__item-title {
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .procedures__item:nth-child(8) .procedures__item-title,
  .procedures__item:nth-child(9) .procedures__item-title,
  .procedures__item:nth-child(10) .procedures__item-title,
  .procedures__item:nth-child(11) .procedures__item-title,
  .procedures__item:nth-child(12) .procedures__item-title {
    margin-bottom: 8px;
}
.procedures__item-info {
    font-size: 11px;
    line-height: 15px;
    font-weight: 300;
  }
  .procedures__item-info::after {
  content: url("../images/Arrow1.svg");
  position: absolute;
  top: 0;
  left: 70px;
}
.procedures__more {
  visibility: visible;
}
.procedures__more-link {
  display: inline-block;
}

}
@media (max-width: 650px) {
  .about__inner {
    background-image: none;
  }
  .about__info {
    padding-left: 0;
    padding-top: 0;
  }
  .about__title {
    margin: 0 auto 25px;
    max-width: 100%;
    text-align: center;
  }
  .about__band {
    margin: 0 auto 20px;
  }
  .about__text {
    margin: 0 auto;
  }
  .leyla__info {
    padding: 90% 10% 0 10%;
  }
  .contacts__inner {
    background-image: none;
  }
  .contacts__info {
    margin: 0 auto;
  }
  .contacts__title {
    font-size: 20px;
    line-height: 32px;
}
.contacts__address-text {
    max-width: 300px;
    font-size: 14px;
    line-height: 24px;
}
.contacts__phone-number {
    font-size: 20px;
    line-height: 28px;
}
.footer__inner {
    flex-direction: column;
    align-items: center;
  }
  .footer__info {
    max-width: 300px;
    text-align: center;
}
}
@media (max-width: 542px) {
  .consultation__form {
    padding: 30px 10px;
  }
  .form__select {
    padding: 5px 0px 5px 10px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 23px;
  }
  .form__title {
    font-size: 18px;
    line-height: 25px;
  }
  .form__checkbox label {
    font-size: 16px;
    line-height: 23px;
    padding-left: 30px;
  }
  .mission__text {
    font-size: 20px;
    line-height: 35px;
    padding: 34px 0;
  }
  .how__item {
    padding: 15px 10px 0 15px;
    width: 300px;
  }
  .how__item-title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .how__item-band {
    width: 260px;
  }
  .how__item-text {
    font-size: 16px;
    line-height: 22px;
  }
  .premium__text {
    flex: 0 0 50%;
    font-size: 16px;
    line-height: 22px;
    padding-right: 27px;
  }
  .premium__img {
    flex: 0 0 50%;
  }
  .responces__title {
    font-size: 40px;
    line-height: 50px;
  }
  .responces__slide-title {
    font-size: 20px;
    line-height: 28px;
  }
  .responces__slide-text {
    font-size: 16px;
    line-height: 22px;
  }
 .responces__slide.swiper-slide.swiper-slide-visible.swiper-slide-active > img {
   max-width: 300px;
 }

 .responces__swiper {;
    height: 450px;
}
}
@media (max-width: 460px) {
  .leyla__info {
    padding: 110% 10% 0 10%;
  }
  .premium__text {
    padding-top: 70px;
  }
  .consultationform__title {
    font-size: 30px;
    line-height: 43px;
}
.consultationform__smalltext {
    font-size: 14px;
    line-height: 19px;
}
.consultationform__input {
  width: 320px;
}
.consultationform__btn {
  width: 320px;
}
}
@media (max-width: 410px) {
  .about__title {
    font-size: 30px;
    line-height: 39px;
  }
  .leyla__info {
    padding: 130% 5% 0 5%;
  }
  .premium__text {
    padding-top: 50px;
  }
}
